
Lesson-10/Lesson-10.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Lesson-10/Lesson-10.xcodeproj/project.xcworkspace/xcuserdata/donatas.xcuserdatad/UserInterfaceState.xcuserstate

Lesson-10/Lesson-10.xcodeproj/xcuserdata/donatas.xcuserdatad/xcschemes/xcschememanagement.plist
